<div class="flex justify-between items-center mb-4">
	<h1 class="text-3xl">Permissions</h1>
	<button
		*ngIf="permissions.length"
		class="btn btn-primary btn-sm"
		(click)="onAddPermission()"
	>
		Add
	</button>
</div>

<table *ngIf="permissions.length" class="table w-full">
	<thead>
		<tr>
			<th>Name</th>
			<th>Description</th>
		</tr>
		<tr></tr>
	</thead>
	<tbody>
		<tr *ngFor="let permission of permissions" class="hover">
			<td>{{ permission.name }}</td>
			<td>{{ permission.description }}</td>
			<td class="flex gap-2">
				<button
					(click)="onUpdatePermission(permission)"
					class="btn btn-outline btn-sm"
				>
					Edit
				</button>
				<button
					(click)="onDeletePermission(permission)"
					class="btn btn-outline btn-error btn-sm"
				>
					Delete
				</button>
			</td>
		</tr>
	</tbody>
</table>

<app-loading *ngIf="loading"></app-loading>

<ng-template #emptyCell>-</ng-template>
