<div class="navbar bg-base-100">
	<div class="flex-1">
		<a class="btn btn-ghost text-xl" routerLink="/">JWT Authentication</a>
	</div>
	<div class="flex-none">
		<ul class="menu menu-horizontal px-1">
			<li *ngIf="authService.isLoggedIn$ | async">
				<a routerLink="/protected">Protected</a>
			</li>
			<li *ngIf="authService.isAdmin$ | async">
				<a routerLink="/admin">Admin</a>
			</li>
			<li *ngIf="!(authService.isLoggedIn$ | async)">
				<a routerLink="/register">Register</a>
			</li>
			<li *ngIf="!(authService.isLoggedIn$ | async)">
				<a routerLink="/login">Login</a>
			</li>
			<li *ngIf="authService.isLoggedIn$ | async">
				<a routerLink="/logout">Logout</a>
			</li>
		</ul>
	</div>
</div>
