<h2 mat-dialog-title class="font-bold text-lg">Change Password</h2>
<mat-dialog-content>
	<form *ngIf="!gettingToken; else loading" [formGroup]="form">
		<div class="form-control">
			<label for="oldPassword" class="label">
				<span class="label-text">
					Old password <span class="text-red-500">*</span>
				</span>
			</label>
			<div class="relative">
				<input
					id="oldPassword"
					formControlName="oldPassword"
					type="password"
					[required]="true"
					class="input input-sm input-bordered pr-10 w-full"
				/>
				<div class="absolute inset-y-0 right-2 flex items-center">
					<!-- Replace this with your condition for showing the spinner -->
					<app-loading *ngIf="verifyingOldPassword"></app-loading>
					<svg
						*ngIf="oldPasswordCorrect"
						width="24"
						height="24"
						viewBox="0 0 24 24"
						xmlns="http://www.w3.org/2000/svg"
						class="text-success"
					>
						<path
							fill="currentColor"
							d="m9.55 15.15l8.475-8.475q.3-.3.7-.3t.7.3t.3.713t-.3.712l-9.175 9.2q-.3.3-.7.3t-.7-.3L4.55 13q-.3-.3-.288-.712t.313-.713t.713-.3t.712.3z"
						/>
					</svg>
				</div>
			</div>
			<div
				*ngIf="
					form.get('oldPassword')?.invalid && form.get('oldPassword')?.touched
				"
				class="text-sm text-error mt-1"
			>
				Old password is invalid.
			</div>
		</div>

		<div class="form-control">
			<label for="password" class="label">
				<span class="label-text"
					>New password <span class="text-red-500">*</span></span
				>
			</label>
			<input
				id="password"
				formControlName="password"
				type="password"
				[required]="true"
				class="input input-sm input-bordered"
			/>
			<div
				*ngIf="form.get('password')?.invalid && form.get('password')?.touched"
				class="text-sm text-error mt-1"
			>
				Password must contain at least one uppercase letter, one lowercase
				letter, and one number.
			</div>
		</div>
		<div class="form-control">
			<label for="confirmPassword" class="label">
				<span class="label-text"
					>Confirm password <span class="text-red-500">*</span></span
				>
			</label>
			<input
				id="confirmPassword"
				formControlName="confirmPassword"
				type="password"
				[required]="true"
				class="input input-sm input-bordered"
			/>
			<div
				*ngIf="
					form.get('confirmPassword')?.invalid &&
					form.get('confirmPassword')?.touched
				"
				class="text-sm text-error mt-1"
			>
				Passwords do not match.
			</div>
		</div>
	</form>
</mat-dialog-content>
<div mat-dialog-actions class="flex justify-end space-x-2 mt-6">
	<button (click)="onCancel()" class="ms-auto btn btn-outline btn-sm">
		Cancel
	</button>
	<button
		(click)="onConfirm()"
		class="btn btn-primary btn-sm"
		[disabled]="changingPassword || form.invalid || form.pending"
	>
		<app-loading *ngIf="changingPassword"></app-loading>
		Change
	</button>
</div>

<ng-template #loading>
	<app-loading></app-loading>
</ng-template>
