<form [formGroup]="form" (ngSubmit)="onSubmit($event)" class="space-y-4">
	<!-- Iterate over fields -->
	@for (field of fields; track $index) {
	<div class="form-control">
		<label for="{{ field.name }}" class="label">
			<span class="label-text"
				>{{ field.label }} {{ field.required ? "*" : "" }}</span
			>
		</label>
		<!-- Switch case for field types -->
		@switch (field.type) { @case ('text') {
		<input
			[formControlName]="field.name"
			type="text"
			[required]="field.required"
			class="input input-bordered"
		/>
		} @case ('number') {
		<input
			[formControlName]="field.name"
			type="number"
			[required]="field.required"
			class="input input-bordered"
		/>
		} @case ('select') {
		<select
			[formControlName]="field.name"
			[required]="field.required"
			class="select select-bordered"
		>
			<!-- Iterate over select options -->
			@for (option of field.selectOptions; track $index) {
			<option [value]="option.key">{{ option.value }}</option>
			}
		</select>
		} @case ('email') {
		<input
			[formControlName]="field.name"
			type="email"
			[required]="field.required"
			class="input input-bordered"
		/>
		} @case ('password') {
		<input
			[formControlName]="field.name"
			type="password"
			[required]="field.required"
			class="input input-bordered"
		/>
		} @case ('textarea') {
		<textarea
			[formControlName]="field.name"
			[required]="field.required"
			class="textarea textarea-bordered"
		></textarea>
		} @default {
		<p class="text-error">Unsupported field type: {{ field.type }}</p>
		} }
	</div>
	}
	<button type="submit" class="btn btn-primary">Submit</button>
</form>
