<form [formGroup]="form" (ngSubmit)="onSubmit($event)" class="space-y-4">
	<!-- Iterate over fields -->
	<div *ngFor="let field of fields; let i = index" class="form-control">
		<label for="{{ field.name }}" class="label">
			<span class="label-text">
				{{ field.label }}
				<span *ngIf="field.required" class="text-red-500">*</span>
			</span>
		</label>
		<!-- Switch case for field types -->
		<ng-container [ngSwitch]="field.type">
			<ng-container *ngSwitchCase="'text'">
				<input
					[formControlName]="field.name"
					type="text"
					[required]="field.required"
					class="input input-bordered"
				/>
			</ng-container>
			<ng-container *ngSwitchCase="'number'">
				<input
					[formControlName]="field.name"
					type="number"
					[required]="field.required"
					class="input input-bordered"
				/>
			</ng-container>
			<ng-container *ngSwitchCase="'select'">
				<select
					[formControlName]="field.name"
					[required]="field.required"
					class="select select-bordered"
				>
					<!-- Iterate over select options -->
					<option
						*ngFor="let option of field.selectOptions; let j = index"
						[value]="option.key"
					>
						{{ option.value }}
					</option>
				</select>
			</ng-container>
			<ng-container *ngSwitchCase="'email'">
				<input
					[formControlName]="field.name"
					type="email"
					[required]="field.required"
					class="input input-bordered"
				/>
			</ng-container>
			<ng-container *ngSwitchCase="'password'">
				<input
					[formControlName]="field.name"
					type="password"
					[required]="field.required"
					class="input input-bordered"
				/>
			</ng-container>
			<ng-container *ngSwitchCase="'textarea'">
				<textarea
					[formControlName]="field.name"
					[required]="field.required"
					class="textarea textarea-bordered"
				></textarea>
			</ng-container>
			<ng-container *ngSwitchDefault>
				<p class="text-error">Unsupported field type: {{ field.type }}</p>
			</ng-container>
		</ng-container>

		<!-- Error Messages -->
		<div
			*ngIf="form.get(field.name)?.touched"
			class="text-red-500 text-sm mt-1"
		>
			<ng-container *ngIf="form.get(field.name)?.invalid">
				<!-- Required Error -->
				<span *ngIf="form.get(field.name)?.errors?.['required']">
					{{ field.label }} is required.
				</span>

				<!-- Dynamic Validator Errors -->
				<span *ngFor="let error of getFieldErrors(field)">
					{{ error }}
				</span>
			</ng-container>
			<span *ngIf="field.name == 'confirmPassword'">
				<ng-container *ngIf="form.errors?.['confirmPassword']">
					Passwords do not match.
				</ng-container>
			</span>
		</div>
	</div>

	<div *ngIf="fields.length" class="flex justify-end">
		<button
			type="submit"
			class="btn btn-primary"
			[disabled]="submitLoading || form.invalid || form.pending"
		>
			<app-loading *ngIf="submitLoading"></app-loading>
			{{ submitText }}
		</button>
	</div>
</form>
