<div *ngIf="roles.length; else loading" class="form-control">
	<label class="label">Roles</label>
	<input
		*ngIf="roles.length > 6"
		type="text"
		[(ngModel)]="searchTerm"
		(input)="filterRoles()"
		class="input input-sm input-bordered"
		placeholder="Search roles..."
	/>
	<div class="grid grid-cols-2 gap-4 max-h-64 overflow-y-auto mt-2">
		<label
			*ngFor="let role of filteredRoles"
			class="cursor-pointer flex items-center"
		>
			<input
				type="checkbox"
				[value]="role.id"
				(change)="toggleRole(role)"
				[checked]="isSelected(role)"
				class="checkbox checkbox-sm"
			/>
			<span class="ml-2">{{ role.name }}</span>
		</label>
	</div>
</div>

<ng-template #loading>
	<app-loading></app-loading>
</ng-template>
