<h1 class="text-3xl mb-4">Users</h1>

<table class="table w-full">
	<thead>
		<tr>
			<th>Name</th>
			<th>Email</th>
			<th>Paying Customer</th>
			<th>Roles</th>
			<th>Permissions</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let user of users" class="hover">
			<td>{{ user.name }}</td>
			<td>{{ user.email }}</td>
			<td>{{ user.isPaying ? "Yes" : "No" }}</td>
			<td>
				<ul *ngIf="user.roles?.length; else emptyCell">
					<li *ngFor="let role of user.roles">{{ role.name }}</li>
				</ul>
			</td>
			<td>
				<button (click)="onUpdateUser(user)" class="btn btn-outline btn-sm">
					Edit
				</button>
			</td>
		</tr>
	</tbody>
</table>

<ng-template #emptyCell>-</ng-template>
