<app-card>
	<ng-container *ngIf="!attemptingLogin; else loading">
		<h2 class="text-center text-2xl mb-6">Register</h2>
		<app-dynamic-form
			[fields]="formFields"
			(formSubmit)="onFormSubmit($event)"
			submitText="Register"
		></app-dynamic-form>
		<label *ngIf="emailAlreadyExists" class="label">
			<span class="label-text-alt text-red-500"
				>This email is already rergistered.
			</span>
		</label>
		<div class="flex justify-center mt-6">
			<span>
				Already have an account?
				<a class="hover:underline" routerLink="/login">Login here.</a>
			</span>
		</div>
	</ng-container>
</app-card>

<ng-template #loading>
	<app-loading></app-loading>
</ng-template>
