<h1 class="text-3xl mb-4">Profile</h1>

<div class="flex flex-col gap-4">
	<div class="relative group">
		<pre
			class="bg-base-200 p-4 rounded-xl w-full whitespace-pre-wrap break-all group-hover:pe-14"
			#tokenPre
			>{{ authService.getAccessToken() | async | json }}</pre
		>
		<button
			class="hidden group-hover:block absolute top-2 right-2 btn btn-sm btn-ghost"
			(click)="copyToken()"
			aria-label="Copy Token"
			title="Copy Token"
		>
			<!-- Copy Icon (Using SVG) -->
			<svg
				xmlns="http://www.w3.org/2000/svg"
				class="h-5 w-5"
				viewBox="0 0 20 20"
				fill="#ffffff"
			>
				<path
					d="M8 2a2 2 0 00-2 2v1H6a2 2 0 00-2 2v10a2 2 0 002 2h8a2 2 0 002-2v-1h1a2 2 0 002-2V7a2 2 0 00-2-2h-1V4a2 2 0 00-2-2H8z"
				/>
				<path d="M12 12H8v1h4v-1z" />
			</svg>
		</button>
	</div>

	<pre class="bg-base-200 p-4 rounded-xl w-fit whitespace-pre-wrap break-all">{{
		authService.user$ | async | json
	}}</pre>
</div>
