<h1 class="text-3xl mb-4">Profile</h1>

<div class="flex flex-col gap-4">
	<div *ngIf="imagePreview$ | async as imagePreview; else loadingImage">
		<app-image-loader
			class="group relative"
			[src]="imagePreview"
			size="32"
			[showUpload]="true"
			(fileSelected)="profilePictureSelected($event)"
		>
		</app-image-loader>
	</div>

	<div class="flex flex-col gap-3">
		<div>
			<p class="label-text-alt mb-1">Name</p>
			<app-text-loader [loading]="!(user$ | async)">
				<p>{{ (user$ | async)?.name }}</p>
			</app-text-loader>
		</div>
		<div>
			<p class="label-text-alt mb-1">Email</p>
			<div class="flex items-center">
				<app-text-loader [loading]="!(user$ | async)">
					<p>{{ (user$ | async)?.email }}</p>
				</app-text-loader>
				<span
					*ngIf="user$ | async"
					class="badge ms-2"
					[ngClass]="{
						'badge-success': (user$ | async)?.emailVerified,
						'badge-error': !(user$ | async)?.emailVerified
					}"
				>
					{{ (user$ | async)?.emailVerified ? "Verified" : "Not Verified" }}
				</span>
				<button
					*ngIf="
						!verificationMailSend &&
						(user$ | async) &&
						!(user$ | async)?.emailVerified
					"
					class="btn btn-sm btn-outline ms-2"
					(click)="requestEmailVerification()"
				>
					Resend Verification Mail
				</button>
			</div>
		</div>
	</div>
	<button class="btn btn-primary w-fit" (click)="onChanegPasswordClicked()">
		Change Password
	</button>
</div>

<ng-template #loadingImage>
	<div class="w-32 h-32 skeleton"></div>
</ng-template>
