<div class="flex p-4 flex-col gap-3">
	<div class="text-4xl">Jwt Authentication</div>
	<button (click)="logAccessToken()" class="btn w-fit btn-primary">
		Log access token
	</button>
	<button (click)="whoAmI()" class="btn w-fit btn-primary">Who am i</button>
	<button (click)="getProtected()" class="btn w-fit btn-primary">
		Get Protected
	</button>
	<button (click)="requestNewAccessToken()" class="btn w-fit btn-primary">
		Request new access token
	</button>
	<button (click)="register()" class="btn w-fit btn-primary">Register</button>
	<button (click)="login()" class="btn w-fit btn-primary">Login</button>
	<button (click)="logout()" class="btn w-fit btn-primary">Logout</button>
</div>
