<div class="flex justify-between items-center mb-4">
	<h1 class="text-3xl">Permissions</h1>
	<button class="btn btn-primary" (click)="onAddPermission()">Add</button>
</div>

<table class="table w-full">
	<thead>
		<tr>
			<th>Name</th>
		</tr>
		<tr></tr>
	</thead>
	<tbody>
		<tr *ngFor="let permission of permissions" class="hover">
			<td>{{ permission.name }}</td>
			<td>
				<button class="btn btn-outline btn-sm">Edit</button>
			</td>
		</tr>
	</tbody>
</table>

<ng-template #emptyCell>-</ng-template>
