<div class="p-4">
	<h1 class="text-3xl font-bold mb-6">Home</h1>

	<app-dynamic-form
		[fields]="formFields"
		(formSubmit)="onFormSubmit($event)"
	></app-dynamic-form>

	<div class="bg-base-200 shadow-md rounded-lg p-6 mb-6">
		<h2 class="text-2xl font-semibold mb-4">About This App</h2>
		<p class="text-lg mb-4">
			This app is built using a modern tech stack including:
		</p>
		<ul class="list-disc list-inside mb-4">
			<li>Angular</li>
			<li>NestJS</li>
			<li>MySQL</li>
			<li>DaisyUI</li>
			<li>Tailwind CSS</li>
		</ul>
		<p class="text-lg mb-4">
			It serves as a boilerplate for creating robust and scalable applications.
		</p>
	</div>
	<div class="bg-base-200 shadow-md rounded-lg p-6">
		<h2 class="text-2xl font-semibold mb-4">Goal</h2>
		<p class="text-lg mb-4">
			My goal is to provide a seamless development experience with a focus on
			performance and maintainability. Explore the features and get started with
			your project today!
		</p>
		<a
			href="https://github.com/joeykehne/jwt-authentication"
			class="text-blue-500 hover:underline"
		>
			View the GitHub Repository
		</a>
	</div>
</div>
