<h3 mat-dialog-title class="font-bold text-lg">Add Permission</h3>
<div mat-dialog-content>
	<form [formGroup]="permissionFormGroup">
		<div class="form-control">
			<label for="name" class="label">Name</label>
			<input
				formControlName="name"
				type="text"
				id="name"
				class="input input-sm input-bordered"
				placeholder="Name"
			/>
		</div>
		<div class="form-control">
			<label for="description" class="label">Description</label>
			<textarea
				formControlName="description"
				id="description"
				class="textarea textarea-sm textarea-bordered"
				placeholder="Description"
			></textarea>
		</div>
	</form>
</div>
<div mat-dialog-actions class="flex gap-2 mt-8">
	<button
		[disabled]="permissionFormGroup.invalid || buttonLoading"
		(click)="onSave()"
		class="ms-auto btn btn-sm btn-primary"
	>
		<div *ngIf="buttonLoading" class="loading loading-spinner"></div>
		Save
	</button>
	<button (click)="onCancel()" class="btn btn-sm btn-outline">Cancel</button>
</div>
