<div
	(click)="onCopy()"
	class="group flex bg-base-200 hover:bg-base-300 relative h-full rounded-xl w-full cursor-pointer duration-200"
>
	<pre
		class="p-4 whitespace-pre-wrap break-all group-hover:pe-14 duration-200"
		>{{ text || "-" }}</pre
	>
	<button
		class="opacity-0 group-hover:opacity-100 flex absolute p-2 top-2 right-2 bottom-2 items-center justify-center duration-200 group-hover:bg-white group-hover:bg-opacity-20 rounded-xl"
		aria-label="Copy Token"
		title="Copy Token"
		[ngClass]="{
			'group-hover:bg-success group-hover:bg-opacity-100': isClicked
		}"
	>
		<!-- Copy Icon (Using SVG) -->
		<svg
			*ngIf="!isClicked"
			xmlns="http://www.w3.org/2000/svg"
			class="h-5 w-5"
			viewBox="0 0 24 24"
			fill="none"
			stroke="currentColor"
			stroke-width="2"
			stroke-linecap="round"
			stroke-linejoin="round"
		>
			<rect x="9" y="9" width="13" height="13" rx="2" ry="2"></rect>
			<path d="M5 15H4a2 2 0 0 1-2-2V4a2 2 0 0 1 2-2h9a2 2 0 0 1 2 2v1"></path>
		</svg>
		<svg
			*ngIf="isClicked"
			xmlns="http://www.w3.org/2000/svg"
			class="h-5 w-5"
			viewBox="0 0 24 24"
			fill="none"
			stroke="currentColor"
			stroke-width="2"
			stroke-linecap="round"
			stroke-linejoin="round"
		>
			<path d="M5 13l4 4L19 7"></path>
		</svg>
	</button>
</div>
